<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/dist/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/v-flag-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Blog</title>
</head>

<body>
    <div id="app">
        <header>
            <div class="blue-bg">
                <nav class="first-nav container">
                    <p>Everything about Lifestyle, Travel and Gadgets!</p>
                    <ul>
                        <li> <a href="#">SING IN</a></li>
                        <li> <a href="#">ABOUT US</a></li>
                        <li> <a href="#">CONTACT US</a></li>
                        <li> <a href="#">BUY NOW</a></li>
                    </ul>
                </nav>
            </div>
            <div class="border-line">
                <div class="logo container">
                    <img src="blog\images\logo-default-slim.png" alt="">
                </div>
            </div>
            <nav class="v-nav container">
                <!-- brand -->
                <ul>
                    <li v-for="el in navbarLinks">
                        <a href="el.link">
                            {{el.text}}
                        </a>

                    </li>
                    <div class="nav-spacer">
                        <!-- come rendo questo oggetto visibile solo dopo il click del button di ricerca? -->
                        <transition name="fade">
                            <input v-if="isHidden" type="text">
                        </transition>


                        <a href="#" @click="toggleInput()"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </ul>
            </nav>

        </header>
        <main>
            <section class="gray-container">
                <div class="container container-plus flex">
                    <div class="image-container no-margin-left">
                        <a href="">
                            <img src="blog\images\blog-46.jpg" alt="">
                            <div class="absolute-text">
                                <p class="blue-tag">PHOTOGRAFY</p>
                                <h3>How To Take Better Concert Pictures in 30 Seconds</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse amet autem hic
                                    deserunt expedita ratione adipisci molestiae! </h4>
                            </div>
                        </a>

                    </div>
                    <div class="image-container">
                        <a href="">
                            <img src="blog\images\blog-47.jpg" alt="">
                            <div class="absolute-text">
                                <p class="blue-tag">GADGETS</p>
                                <h3>Gadgets That Make Your Smartphone Even Smarter</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse amet autem hic
                                    deserunt expedita ratione adipisci molestiae! </h4>
                            </div>
                        </a>


                    </div>
                    <div class="image-container no-margin-right">
                        <a href="">
                            <img src="blog\images\blog-48.jpg" alt="">
                            <div class="absolute-text">
                                <p class="blue-tag">Travel</p>
                                <h3>20 Top-Rated tourist attractions in Manhattan</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse amet autem hic
                                    deserunt expedita ratione adipisci molestiae! </h4>
                            </div>
                        </a>
                    </div>


                    <div class="image-container no-margin-left">
                        <a href="">
                            <img src="blog\images\blog-49.jpg" alt="">
                            <div class="absolute-text">
                                <p class="blue-tag">LIFESTYLE</p>
                                <h3>The Best Way to Ride a Motorcycle</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse amet autem hic
                                    deserunt expedita ratione adipisci molestiae! </h4>
                            </div>

                        </a>

                    </div>
                    <div class="image-container">
                        <a href="">
                            <img src="blog\images\blog-50.jpg" alt="">
                            <div class="absolute-text">
                                <p class="blue-tag">TRAVEL</p>
                                <h3>5 Fun Things to Do at the Beach</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse amet autem hic
                                    deserunt expedita ratione adipisci molestiae! </h4>
                            </div>

                        </a>

                    </div>
                    <div class="image-container no-margin-right">
                        <a href="">

                            <img src="blog\images\blog-51.jpg" alt="">
                            <div class="absolute-text">
                                <p class="blue-tag">RECIPES</p>
                                <h3>Amazingly Fresh Fruit and Herb Drinks for Summer</h3>
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse amet autem hic
                                    deserunt expedita ratione adipisci molestiae! </h4>
                            </div>
                        </a>

                    </div>
                </div>
            </section>

            <section class="container flex">
                <div class="col-4">
                    <h2>POPULAR POSTS</h2>
                    <div class="feeds little-border">
                        <img src="blog\images\blog-55.jpg" alt="">
                        <div class="text">
                            <p>Simple Ways to have a pretty face</p>
                            <small>January 12, 2019</small>
                        </div>


                    </div>
                    <div class="feeds little-border">
                        <img src="blog\images\blog-56.jpg" alt="">
                        <div class="text">
                            <p>Ranking the greates players in basketball</p>
                            <small>January 12, 2019</small>
                        </div>

                    </div>
                    <div class="feeds little-border">
                        <div class="text">

                            <img src="blog\images\blog-57.jpg" alt="">
                            <p>4 ways to look cool in glasses</p>
                            <small>January 12, 2019</small>
                        </div>
                    </div>
                    <div class="feeds little-border">
                        <div class="text">
                            <img src="blog\images\blog-58.jpg" alt="">
                            <p>top camper trailer towing tips</p>
                            <small>January 12, 2019</small>
                        </div>

                    </div>
                    <div class="feeds">
                        <div class="text">
                            <img src="blog\images\blog-59.jpg" alt="">
                            <p>5 lovely wakls in new york</p>
                            <small>January 12, 2019</small>
                        </div>

                    </div>


                </div>
                <div class="col-4">
                    <h2>RECENT POSTS</h2>
                    <div class="feeds little-border">
                        <img src="blog\images\blog-65.jpg" alt="">
                        <div class="text">
                            <p>Main resons to stop texting and driving</p>
                            <small>January 12, 2019</small>
                        </div>


                    </div>
                    <div class="feeds little-border">
                        <img src="blog\images\blog-66 (1).jpg" alt="">
                        <div class="text">
                            <p>Tips to Help you quickly prepare your lunch</p>
                            <small>January 12, 2019</small>
                        </div>


                    </div>
                    <div class="feeds little-border">
                        <img src="blog\images\blog-67.jpg" alt="">
                        <div class="text">
                            <p>Why should i buy a smartwatch?</p>
                            <small>January 12, 2019</small>
                        </div>


                    </div>
                    <div class="feeds little-border">
                        <img src="blog\images\blog-68.jpg" alt="">
                        <div class="text">
                            <p>The best augmented reality smartglasses</p>
                            <small>January 12, 2019</small>
                        </div>


                    </div>
                    <div class="feeds">
                        <img src="blog\images\blog-69.jpg" alt="">
                        <div class="text">
                            <p>12 healthiest foods to eat for breakfast</p>
                            <small>January 12, 2019</small>
                        </div>


                    </div>

                </div>
                <div class="col-4">
                    <h2>FEATURED POSTS</h2>
                    <div class="image-container-down">
                        <div class="image-on-side">
                            <img src="blog\images\blog-66.jpg" alt="">
                            <div class="absolute-text">
                                <p class="blue-tag">RECIPES</p>
                                <h3>Tips to help you quickly preapare your lunch</h3>
                            </div>

                        </div>
                    </div>
                    <h2>FEATURED AUTHOR</h2>
                    <div class="feeds-author">
                        <img class="author" src="blog\images\avatar.jpg" alt="">
                        <div class="text ">
                            <h2>John Doe</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime recusandae rem voluptatum corrupti qui assumenda. </p>
                        </div>
                    </div>
                </div>

            </section>
            <section class="blue-background flex">
                <div class="container">
                    <div class="buttons-section">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>




                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>

                </div>
            </section>
            <section></section>

        </main>

        <footer>
            <!-- <div class="row">
                <div class="col">
                    elemnti primo blocco 
                </div>
                <div class="col">
                    <h3>twitter feeds</h3>
                    <ul>
                        <li v-for="tweet in FooterData.twitterData">
                            <a href="tweet.links">
                                {{tweet.text}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h3>twitter feeds</h3>
                    <ul>
                        <li v-for="tweet in FooterData.twitterData">
                            <a href="tweet.links">
                                {{tweet.text}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->

        </footer>
    </div>
    <script src="app.js"></script>
</body>

</html>