<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/dist/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/v-flag-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Blog</title>
</head>

<body>
    <div id="app">
        <header>
            <div class="blue-bg">
                <nav class="first-nav container">
                    <p>Everything about Lifestyle, Travel and Gadgets!</p>
                    <ul>
                        <li> <a href="#">SING IN</a></li>
                        <li> <a href="#">ABOUT US</a></li>
                        <li> <a href="#">CONTACT US</a></li>
                        <li> <a href="#">BUY NOW</a></li>
                    </ul>
                </nav>
            </div>
            <div class="border-line">
                <div class="logo container">
                    <img src="blog\images\logo-default-slim.png" alt="">
                </div>
            </div>
            <nav class="v-nav container">
                <!-- brand -->
                <ul>
                    <li v-for="el in navbarLinks">
                        <a href="el.link">
                            {{el.text}}
                        </a>

                    </li>
                    <div class="nav-spacer">
                        <!-- come rendo questo oggetto visibile solo dopo il click del button di ricerca? -->
                        <input type="text">

                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </ul>
            </nav>

        </header>
        <main>
            <section class="gray-container">
                <div class="container flex">
                    <div class="image-container no-margin-left">
                        <img src="" alt="">

                    </div>
                    <div class="image-container">
                        <img src="" alt="">

                    </div>
                    <div class="image-container no-margin-right">
                        <img src="" alt="">

                    </div>
                    <div class="image-container no-margin-left">
                        <img src="" alt="">

                    </div>
                    <div class="image-container">
                        <img src="" alt="">
                        
                    </div>
                    <div class="image-container no-margin-right">
                        <img src="" alt="">
                        
                    </div>

                </div>

            </section>

            <section></section>
            <section></section>
            <section></section>

        </main>

        <footer>
            <!-- <div class="row">
                <div class="col">
                    elemnti primo blocco 
                </div>
                <div class="col">
                    <h3>twitter feeds</h3>
                    <ul>
                        <li v-for="tweet in FooterData.twitterData">
                            <a href="tweet.links">
                                {{tweet.text}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h3>twitter feeds</h3>
                    <ul>
                        <li v-for="tweet in FooterData.twitterData">
                            <a href="tweet.links">
                                {{tweet.text}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->

        </footer>
    </div>
    <script src="app.js"></script>
</body>

</html>