$spacing: 14px;

// Colors
$blue: #08c;
$blueBg: #0088cc;
$blackTextcolor:#212529;
$linkText:#638ccc;
$grayText: #777777;
$linkHoverBgBlue: #212529;
$lighterTextBgBlue:#D6D6D6;
$borderGrayColor:#E2E2E2;


//fonts
$smallFont: 12px;
$mediumFont: 18px;
$largeFont: 24px;
$biggestFont: 32px;